<!DOCTYPE html>
<html>
<head>
	<title>Factory</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="shopApp">
	<h1>Custom Service Through a Factory</h1>

	<!-- list 1 - unlimited items -->
		<div id="list1" ng-controller="shoppingListCtrl1 as list">
			<h3>Shopping List #1</h3>
			<input type="text" ng-model="list.itemName" placeholder="item name">
			<input type="text" ng-model="list.itemQuantity" placeholder="item quantity">
			<button ng-click="list.addItem()">Add Item</button>
			<ol>
				<list-item  ng-repeat="item in list.items"></list-item>
			</ol>
			<div class="error" ng-if="list.errorMessage">Error: {{ list.errorMessage }}</div>
		</div>

	<!-- list 2 limited to 3 items	 -->
		<div id="list2" ng-controller='shoppingListCtrl2 as list'>
	      <h3>Shopping List #2 (limited to 3 items)</h3>
	      <input type="text" ng-model="list.itemName" placeholder="item name">
	      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
	      <button ng-click="list.addItem();">Add Item</button>
	      <ol>
	        <list-item  ng-repeat="item in list.items"></list-item>
	      </ol>
	      <div class="error" ng-if="list.errorMessage">Error: {{list.errorMessage}}</div>
    </div>

<!-- angular scripts -->
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app2.js"></script>

</body>
</html>